.onboard-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 30px;
  backdrop-filter: blur(4px);
  z-index: 1;
  img {
    max-width: 200px;
  }
  span {
    font-weight: 400;
  }
}
