#register-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  h2 {
    font-size: 1.1rem;
  }

  div {
    margin: 13px 5px;
    position: relative;

    p.register-info {
      position: relative;
      display: block;
      font-weight: 400;
      font-size: 1.2rem;
    }

    input {
      height: 40px;
      border-radius: 10px;
      border: 1px solid gray;
      width: 100%;
      transition: 0.2s;
      padding: 0 10px;
      outline: none;

      &:not([value=""]) ~ span {
        top: -15px;
        transition: 0.2s;
        color: rgb(255, 0, 0);
      }

      &:not([value=""]) ~ span {
        top: -15px;
        transition: 0.2s;
        color: rgb(255, 0, 0);
      }

      &:focus ~ span {
        top: -15px;
        transition: 0.2s;
        color: rgb(0, 101, 141);
      }

      &:valid ~ span {
        top: -15px;
        transition: 0.2s;
        color: rgb(0, 141, 24);
      }

      & ~ span {
        transition: 0.2s;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      padding: 0 5px;

      pointer-events: none;
      font-size: 0.9rem;
    }
  }
}
